.threadlist-container-section{
    width: 100%;
    height: 100%;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.threadlist-container{
    width: 640px;
    background-color: #fff;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.thread-card{
    width: 100%;
    display: flex;
    flex-direction: column;
    
}
.thread-card h3{
   margin-top: 15px;
   margin-bottom: 5px;
}
.thread-card h3 a{
   font-size: 25px;
   margin: 0;
   margin: 15px 15px 0px 15px;
   color: #38419d;
   display: block;
}
.thread-card p{
    margin: 0;
    font-size: 15px;
    margin: 0px 15px 15px 15px;
}
.horizontal-separator{
    width: 100%;
    height: 1px;
    background-color: #cecece;
}